h1{
    font-family: 'Srisakdi', cursive;
    font-size: 25px;
    font-weight: 200;
    line-height: 80%;
    letter-spacing: 7px;
}

h2{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    font-weight: 200;
    line-height: 80%;
    letter-spacing: 7px;
}

h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: 200;
    line-height: 80%;
    letter-spacing: 7px;
}
.button:hover{
    background-color: blueviolet; 
}